.container {
    position    : relative;
    width       : 1226px;
    margin-left : auto;
    margin-right: auto;
}

a {
    img {
        width : 100%;
        height: 100%;
    }
}

input {
    outline   : none;
    box-sizing: border-box;
    font-size : 14px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix:before,
.clearfix:after {
    content: ' ';
    display: table;
}

.clearfix:after {
    clear: both;
}